<div [style.visibility]="!unicorn ? 'hidden': 'visible'" #tooltip class="tooltip mat-app-background">
    <div id="title" class="mat-title">
        Unicorn Infos
    </div>
    <div id="infos">
        <div class="mat-caption row">
           <div class="field-name">
               Name:
            </div>
            <div class="field">
                {{ name | titlecase }}
            </div>
        </div>
        <div class="mat-caption row">
            <div class="field-name">
                Color: 
            </div>
            <div class="field">
                 <span> {{ color }} </span>
                 <span id="color" [style.backgroundColor]="'#' + color"></span>
            </div>
        </div>
        <div class="mat-caption row">
            <div class="field-name">
                Gender:
            </div>
            <div class="field">
                {{ gender | titlecase }}
            </div>
        </div>
        <div class="mat-caption row">
            <div class="field-name">
                Age:
            </div>
            <div class="field">
                {{ age }}
            </div>
        </div>
        <div class="mat-caption row">
            <div class="field-name">
                Type: 
            </div>
            <div class="field">
                {{ isBaby ? 'Baby' : 'Adult' }}
            </div>
        </div>
    </div>
</div>