.tooltip
    width: 200px
    text-align: center
    border-radius: 6px
    padding: 5px 0
    position: absolute
    display: inline-block
    bottom: 125%
    margin-left: -60px
    opacity: 1
    transition: opacity 0.3s
    height: 380px
    text-align: left
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    z-index: 90

#infos
    padding: 0px 5px 0px 5px

#title
    text-align: center
    padding-bottom: 10px
    margin-top: 10px

.row
    margin: 10px 5px 10px 5px
    padding: 10px 5px 10px 5px
    border-radius: 20px
    display: grid
    grid-template-columns: 1fr 3fr
    vertical-align: middle
    border-top-style: none

.field-name
    height: 24px
    padding: 5px 10px 5px 10px

.field
    height: 24px
    padding: 5px 10px 5px 10px
    border-radius: 20px
    overflow-x: auto


#color
    width: 15px
    height: 15px
    border-radius: 5px
    margin: 5px 0px 0px 5px
    display: inline-block
    float: right
    vertical-align: middle

.light-theme
    #title
        border-bottom: 1px solid black
    .row
        border: 1px solid rgba(0, 0, 0, 0.07)
    .field
        background-color: rgba(0, 0, 0, 0.04)

.dark-theme
    #title
        border-bottom: 1px solid white
    .row
        border: 1px solid white
    .field
       background-color: rgba(255, 255, 255, 0.1)