<div #cover id="cover">
    <div class="container">
        <a (click)="goToLink('https://www.vecteezy.com/free-vector/unicorn-logo')"><img alt="Unicorn Logo Vectors by Vecteezy" class="center" id="logo" [src]="'/assets/img/logo.png'"  height="200" width="200"></a>
        <mat-progress-bar *ngIf="loading$ | async" class="center" mode="indeterminate" [ngStyle]="{width: '200px'}"></mat-progress-bar>
        <span class="mat-headline" id="message">{{ message }}</span>
    </div>
</div>