#message
    margin-top: 10px
    color: white

#cover
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: black
    z-index: 10

.container
    height: 100%
    align-items: center
    display: flex
    justify-content: center
    flex-direction: column
    text-align: center

.animate
    animation: fade 1s linear

@keyframes fade
    0%
        opacity: 1
    50%
        opacity: 0.5
    100%
        opacity: 0