<mat-stepper (selectionChange)="stepTouched()" class="yellow-theme" *ngIf="formsInitialized" [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="!( loading$ | async )">
        <ng-template matStepLabel>First</ng-template>
        <app-single-unicorn [formGroup]="firstFormGroup"></app-single-unicorn>
        <div>
            <button mat-stroked-button color="primary" matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="!( loading$ | async )">
        <ng-template matStepLabel>Second</ng-template>
        <app-single-unicorn [formGroup]="secondFormGroup"></app-single-unicorn>
        <div>
            <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
            <mat-checkbox [(ngModel)]="haveBaby" *ngIf="canHaveBaby()">Make a baby!</mat-checkbox>
        </div>
    </mat-step>
</mat-stepper>