<div id="main" class="mat-app-background">
    <div [hidden]="!( loading$ | async )">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div id="app-info">
        <div id="logo-container">
            <a (click)="goToLink('https://www.vecteezy.com/free-vector/unicorn-logo')"><img alt="Unicorn Logo Vectors by Vecteezy" id="logo" [src]="'/assets/img/logo.png'"  height="70" width="70"></a>
        </div>
        <mat-label id="app-title" class="mat-headline"> · UNICORN 3.0 · </mat-label>
    </div>
    <div id="controls">
        <button mat-raised-button color="warn" type="reset" (click)="resetAll()"><mat-icon>clear</mat-icon></button>
        <div></div>
        <div id="slider">
            <div>
                <mat-label id="" class=""> {{ ( isDark$ | async ) ? 'Dark Mode' : 'Light Mode' }} </mat-label>
            </div>
            <div>
                <mat-slide-toggle color="primary" [ngModel]="isDark$ | async" (change)="onChange($event.checked)"></mat-slide-toggle>
            </div>
        </div>
    </div>
    <mat-tab-group #tabGroup id="tabs" [dynamicHeight]='true' (selectedTabChange)="onTabChange( $event )">
        <mat-tab id="single-tab" label="Single">
            <app-single-unicorn [formGroup]="fg"></app-single-unicorn>
        </mat-tab>
        <mat-tab id="mates-tab" label="Mates">
            <app-unicorn-mates (onBaby)="toggleBabyValue($event)" [firstFormGroup]="fg" [secondFormGroup]="secondFg"></app-unicorn-mates>
        </mat-tab>
    </mat-tab-group>
    <mat-card-actions>
        <button mat-stroked-button color="primary" type="reset" (click)="onSubmit()" [disabled]='isInvalid() || ( loading$ | async ) '> {{ isSingle ? 'Create Unicorn' : 'Create Mates' }} </button>
    </mat-card-actions>
    <div id="credits-container" class="link-container mat-caption">
        <span id="credits"><a class="link" href="https://skfb.ly/6XzLn">"3December - Day 17 - Animal" by Izzy</a> is licensed under <a class="link" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a></span>
    </div>
</div>