#main
    height: 100%
    text-align: center
    overflow-y: scroll
    display: flex
    flex-flow: column

    #controls
        display: grid
        grid-template: 100% / 1fr 1fr auto
        vertical-align: middle
        button
            margin-top: 5px
    #slider
        text-align: center
        margin-right: 10px
    #app-info
        padding-top: 20px
        #progress-bar
            margin-bottom: 20px
        form
            padding-top: 20px
            height: 100%
        #logo-container
            height: 100px
            width: 100px
            border-radius: 50%
            margin: 0 auto
            box-shadow: 0px 2px 0px 0px white
            position: relative
            margin-bottom: 20px
            background-color: darkGrey
            animation: rotation 3s ease-out
            animation-iteration-count: 1
            #logo
                max-height: 100%
                max-width: 100%
                width: auto
                height: auto
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                margin: auto
        #app-title
            display: block
            margin-bottom: 20px
button
    margin: 20px 0px 20px 0px

@keyframes rotation
    from
        transform: rotateY(0deg)

    to
        transform: rotateY(359deg)

app-single-unicorn
    height: 100%
    margin-top: 20px
    display: block

.mat-tab-body-wrapper
    margin-top: 20px

.mat-tab-body .mat-tab-body-active
    height: 100%

.mat-tab-label, ::ng-deep.mat-tab-label-active 
    min-width: 0!important
    padding: 3px!important
    margin: 3px!important

.link-container
    margin-top: 20px
    margin-bottom: 10px

#credits-container
    flex: 1 1 auto
    display: flex

#credits
    align-self: flex-end
   