<form *ngIf="formInitialized" #formDirective="ngForm" [formGroup]="formGroup">
    <mat-form-field appearance="fill">
        <mat-label> Name </mat-label>
        <input autocomplete="off" matInput placeholder="Enter Unicorn Name ..." formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <input autocomplete="off" matInput [ngxMatColorPicker]="picker" formControlName="color" [disabled]="disabled">
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
            </mat-option>
        </mat-select>
        </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label class="accent"> Age </mat-label>
        <input autocomplete="off" min="2" matInput type="number" placeholder="Enter Unicorn Age ..." formControlName="age">
    </mat-form-field>
</form>