
#main
    height: 100vh
    width: 100%
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: minmax(800px, auto) 250px
    grid-gap: 10px
    
    app-canvas
        height: 100vh
        width:100%

    app-controls
        height: 100vh
        overflow: hidden
        width:100%
