@use "@angular/material" as mat;

@use "./styles/typography/config" as typography;

@include mat.core(typography.$my-app-typography);



html, body {
  
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

body {

  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.dark-theme {
    .link {
        color: #8a8a82;
    }
}

.light-theme {
    .link {
        color: #8a738f;
    }
}

/** {
  outline: solid 1px red;
}*/